@media screen and (max-width: 458px){
    .rocket-section{
        width: 75%; 
        top: 500px;
        right: -1000px;   
    }
    .title-section{
        font-size: 36px;
    }
    .text-section{
        font-size: 16px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 4%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-4%);
         }
         to{
            transform: translateX(0);
            right: 4%; 
         }
     }
}
@media screen and (min-width: 458px){
    .rocket-section{
        width: 70%; 
        top: 570px;
        right: -1000px;   
    }
    .title-section{
        font-size: 36px;
    }
    .text-section{
        font-size: 16px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 14%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-14%);
         }
         to{
            transform: translateX(0);
            right: 4%; 
         }
     }
}
@media screen and (min-width: 768px){
    .rocket-section{
        width: 44%; 
        top: 300px;
        right: -1000px;   
    }
    .title-section{
        font-size: 36px;
    }
    .text-section{
        font-size: 14px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 10%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-10%);
         }
         to{
            transform: translateX(0);
            right: 4%; 
         }
     }
}
@media screen and (min-width: 992px){
    .rocket-section{
        top: 330px;
        width: 45%; 
        right: -50%;   
    }
    .title-section{
        font-size: 36px;
    }
    .text-section{
        font-size: 16px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 6%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-6%);
         }
         to{
            transform: translateX(0);
            right: 6%; 
         }
     } 
}
@media screen and (min-width: 1200px){
    .rocket-section{
        top: 360px;
        width: 40%; 
        right: -50%; 
    }
    .title-section{
        font-size: 42px;
    }
    .text-section{
        font-size: 18px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 8%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-8%);
         }
         to{
            transform: translateX(0);
            right: 8%; 
         }
     } 
}
@media screen and (min-width: 1400px){
    .rocket-section{
        top: 360px;
        width: 40%; 
        right: -50%; 
    }
    .title-section{
        font-size: 48px;
    }
    .text-section{
        font-size: 20px;
    }
    .show-info{
        animation: showInfo 1s linear 1;
        right: 8%;
     }
     @keyframes showInfo{
         from{
            right: -50%;
            transform: translateX(-8%);
         }
         to{
            transform: translateX(0);
            right: 8%; 
         }
     } 
}
/* common styles*/
.rocket-section{
    position: absolute;
}
.title-section{
    color: var(--white);
    margin:0;
    padding:0;
}
.text-section{
    line-height: 86%; /*17px*/
    color: var(--white);
}
