@media screen and (max-width: 458px){
    .div-rocket{ 
        width: 75%;
        left: -1000px;
        top: 198px; 
    }  
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 20% ;
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(20%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}
@media screen and (min-width: 458px){
    .div-rocket{ 
        width: 60%;
        left: -1000px;
        top: 158px; 
    }  
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 18%;
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(20%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}
@media screen and (min-width: 768px){
    .div-rocket{ 
        width: 38%;
        left: -1000px;
        top: 298px; 
    }  
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 4% ;
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(4%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}

@media screen and (min-width: 992px){
    .div-rocket{
        width: 40%;
        left: -1000px;
        top: 298px; 
    }  
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 6% ;
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(6%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}
@media screen and (min-width: 1200px){
    .div-rocket{
        width: 40%;
        left: -1000px;
        top: 298px; 
    } 
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 8% ;/*150px;*/
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(8%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}
@media screen and (min-width: 1400px){
    .div-rocket{
        width: 40%;
        top: 298px; 
    }  
    .show-rocket{
        animation: showRocket 1s ease-in-out 1;
        left: 8% ;
    }
    
    @keyframes showRocket{
        from{
            left: -500px;
            transform: translateX(8%);
        }
        100%{
            transform: translateX(0);

        }
    } 
}
.div-rocket{
    position: absolute;
}
.div-rocket img{
    width: 100%;
}


