@media screen and (max-width: 458px) {
    .img-container{
        position: absolute;
        display: inline-block;
        width: 150px;  
        top: 34%;
        left: 48.4%;
        
    }
    .img-after-click{
        width: 600px;
        top: 0;
        left: 42.4%;
    }  
}
@media screen and (min-width: 458px) {
    .img-container{
        position: absolute;
        display: inline-block;
        width: 150px;  
        top: 34%;
        left: 48.4%;
        
    }
    .img-after-click{
        width: 600px;
        top: 0;
        left: 42.4%;
    }  
}
@media screen and (min-width: 768px){
    .img-container{
        position: absolute;
        display: inline-block;
        width: 175px;  
        top: 34%;
        left: 48.4%;
        
    }
    .img-after-click{
        width: 750px;
        top: 0;
        left: 42.4%;
    }
}
@media screen and (min-width: 992px){
    .img-container{
        position: absolute;
        display: inline-block;
        width: 200px;  
        top: 34%;
        left: 48.4%;
    }
    .img-after-click{
        width: 820px;
        top: 0;
        left: 48.4%;
    }
}
@media screen and (min-width: 1200px){
    .img-container{
        position: absolute;
        display: inline-block;
        width: 242px;  
        top: 34%;
        left: 48.4%;
    }
    .img-after-click{
        width: 820px;
        top: 0;
        left: 50.4%;
    }
}
@media screen and (min-width: 1400px){
    .img-container{
        position: absolute;
        display: inline-block;
        width: 287x;  
        top: 34%;
        left: 48.4%;
    
    }
    .img-after-click{
        width: 857px;
        top: 0;
        left: 55.4%;
    }
}


/* common styles*/
.earth{
    width: 100%;
    animation: earthRotation 120s ease-in-out infinite;
   /* animation: earthRotationEven 1s linear infinite;*/
   /* animation: earthRotationOdd 1s linear infinite;*/
}

@keyframes earthRotation {
    from{
        transform: rotateZ(0deg);
    }
    50%{ 
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(-360deg);
    }
}

.earth-top{
    top: -65.1%;
    animation: topEarth 2s ease-in-out 1;
}
@keyframes topEarth{
    20%{
        transform: translationY(-100%);
    }
    to{
        transform: translationY(0);
    }
}

