html{
    font-family: 'Russo One', sans-serif;
    background-color: black;
    --white: #FFFFFF;
}
@media screen and (max-width: 458px) {
    .nav-item{
        width: 10%;
        font-size: 12px;
    }
    .item1{
        left: 8%;
    }
    .item2{
        left: 22%;
    }
    .item3{
        left: 40%;
    }
    .item4{
        left: 60%;
    }
    .item5{
        left: 80%;
    }
    .h1-title{  
        width: 68%;
        top: 65vh;
        left: 8%; /*167px;*/
        font-size: 44px;
        z-index: 2;
    }
    .btn-bottom{
        bottom: 5vh;
        left: 45%;
    }
}
@media screen and (min-width: 458px) {
    .nav-item{
        width: 10%;
        font-size: 14px;
    }
    .item1{
        left: 8%;
    }
    .item2{
        left: 22%;
    }
    .item3{
        left: 40%;
    }
    .item4{
        left: 60%;
    }
    .item5{
        left: 80%;
    }
    .h1-title{  
        width: 60%;
        top: 55vh;
        left: 8%; /*167px;*/
        font-size: 48px;
        z-index: 2;
    }
    .btn-bottom{
        top: 85vh;
        left: 45%;
    }
}

@media screen and (min-width: 768px) {
    .nav-item{
        width: 10%;
        font-size: 18px;
    }
    .item1{
        left: 17.8%;
    }
    .item2{
        left: 28.3%;
    }
    .item3{
        left: 41.6%;
    }
    .item4{
        left: 55.1%;
    }
    .item5{
        left: 68.9%;
    }
    .h1-title{  
        width: 50%;
        top: 42vh;
        left: 6%; /*167px;*/
        font-size: 64px;
        z-index: 2;
    }
    .btn-bottom{
        top: 85vh;
        left: 45%;
    }
}
@media screen and (min-width: 992px) {
    .nav-item{
        width: 10%;
        padding: 7px 20px;
        font-size: 18px;
    }
    .item1{
        left: 18.8%;
    }
    .item2{
        left: 29.1%;
    }
    .item3{
        left: 41.2%;
    }
    .item4{
        left: 53.6%;
    }
    .item5{
        left: 65.9%;
    }
    .h1-title{  
        width: 50%;
        top: 45vh;
        left: 6%; /*167px;*/
        font-size: 72px;
    }
    .btn-bottom{
        top: 90vh;
        left: 45%;
    }
}
@media screen and (min-width: 1200px) {
    .nav-item{
        width: 10%;
        padding: 7px 20px;
        font-size: 20px;
    }
    .item1{
        left: 22.8%;
    }
    .item2{
        left: 31.3%;
    }
    .item3{
        left: 42.1%;
    }
    .item4{
        left: 53.6%;
    }
    .item5{
        left: 64.9%;
    }
    .h1-title{  
        width: 45%;
        top: 45vh;
        left: 8%; /*167px;*/
        font-size: 88px;
    }
    .btn-bottom{
        top: 90vh;
        left: 45%;
    }
}
@media screen and (min-width: 1400px) {
    .nav-item{
        width: 10%;
        padding: 7px 20px;
        font-size: 20px;
    }
    .item1{
        left: 24.8%;
    }
    .item2{
        left: 33.3%;
    }
    .item3{
        left: 43.6%;
    }
    .item4{
        left: 53.6%;
    }
    .item5{
        left: 64.9%;
    }
    .h1-title{  
        width: 45%;
        top: 45vh;
        left: 10%; /*167px;*/
        font-size: 96px;
    }
    .btn-bottom{
        top: 90vh;
        left: 45%;
    }
}

/*common styles */
body{
    width: 100vw;
/*    height: 100vh;*/
    margin: 0;
}

.nav-container{
    position: relative;
    width: 100%;
    height: 10vh;
}
.main-container{
    position: relative;
    width: 100%;
    height: 90vh;
}

.nav-item{
    position: absolute;
    font-weight: 400;
    color: var(--white);
    z-index: 2;
}
.item1, .item2, .item3, .item4, .item5{
    top: -90px;
}
.h1-title{
    position: absolute;
    font-weight: 400;
    color: var(--white);
    margin: 0;
    background: linear-gradient(180deg, #DADADA 53.44%, rgba(218, 218, 218, 0) 116.38%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0;
}
.show-title{
    animation: showTitle 4s linear 1; 
    z-index: 2;
    opacity: 1;
}

@keyframes showTitle{
    from{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    to{
        opacity: 1;
    }
}
.h1-click{
    animation: showTitle 1s linear 1;
}


.item-click{
    top: 70px;   
    animation: itemclick 1s linear 1;
}


@keyframes itemclick{
    from{
        transform: translateY(-160px)
    }
    20%, 40%, 80%, to{
        transform: translateY(0);
    }
    30% {
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(-10px);
    }
    70%{
        transform: translateY(-5px);
    }
}

.btn-bottom{
    position: absolute;
    display: none;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    color: var(--white);
    animation: btnJump 1s linear infinite;
}

@keyframes btnJump{
    20%, 40%, 60%, to{
        transform: translateY(0);    
    }
    30% {
        transform: translateY(-20px);
       
    }
    50%{
        transform: translateY(-10px);
       
    }  
}

.star{
    position: absolute;
    background-color: #6F6F6F;
    border-radius: 50%;
}


